@model List<ExerciseWorkoutModel>

<h4>Exercise Details</h4>

@if (Model.Any())
{
    <ul>
        @foreach (var exercise in Model)
        {
            <li>
                <strong>Exercise Name:</strong> @exercise.ExerciseName<br />
                <strong>Exercise Description:</strong> @exercise.ExerciseDescription<br />
                <strong>Sets:</strong> @exercise.Sets<br />
                <strong>Reps:</strong> @exercise.Reps
            </li>
            <br />

        }
    </ul>
}
else
{
    <p>No Exercises yet</p>
}
