@model UpdateDietViewModel

@{
    ViewBag.Title = "Edit Diet";
}

<h2>Edit Diet</h2>


<form asp-controller="Diet" asp-action="Update" method="post">
    <input type="hidden" asp-for="DietId" />

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl">Image URL</label>
        <input class="form-control" asp-for="ImageUrl" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="CaloriesIntake">Calories Intake</label>
        <input type="number" class="form-control" asp-for="CaloriesIntake" />
        <span asp-validation-for="CaloriesIntake" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Save" asp-action="Update" asp-route-id="@Model.DietId" />
        <input class="btn btn-secondary btn-block" type="button" value="Back" onclick="goBack()" />
    </div> 


</form>