@model FitnessApp.Web.ViewModels.Models.UpdateWorkoutViewModel

@{
    ViewBag.Title = "Edit Workout";
}

<h2>Edit Workout</h2>

<form asp-controller="Workout" asp-action="Update" method="post">
    <input type="hidden" asp-for="WorkoutId" />

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Duration">Duration</label>
        <input type="number" class="form-control" asp-for="Duration" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CaloriesBurned">Calories Burned</label>
        <input type="number" class="form-control" asp-for="CaloriesBurned" />
        <span asp-validation-for="CaloriesBurned" class="text-danger"></span>
    </div>

    <h4>Exercise Workouts</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Description</th>
                <th>Sets</th>
                <th>Reps</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.ExerciseWorkouts.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="ExerciseWorkouts[i].ExerciseId" />
                        <input class="form-control" asp-for="ExerciseWorkouts[i].ExerciseName" />
                        <span asp-validation-for="ExerciseWorkouts[i].ExerciseName" class="text-danger"></span>
                    </td>
                    <td>
                        <input class="form-control" asp-for="ExerciseWorkouts[i].ExerciseDescription" />
                        <span asp-validation-for="ExerciseWorkouts[i].ExerciseDescription" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="number" class="form-control" asp-for="ExerciseWorkouts[i].Sets" />
                        <span asp-validation-for="ExerciseWorkouts[i].Sets" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="number" class="form-control" asp-for="ExerciseWorkouts[i].Reps" />
                        <span asp-validation-for="ExerciseWorkouts[i].Reps" class="text-danger"></span>
                    </td>
                </tr>

              @*  TODO add button to be able to remove a certain exercise*@
            }
        </tbody>
    </table>

    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Save" asp-action="Update" asp-route-id="@Model.WorkoutId" />
    </div>
</form>