@model AddGoalViewModel

@{
    ViewBag.Title = "Add Goal";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-controller="Goal" asp-action="Add" method="post">
            <div class="form-group">
                <label for="GoalType">Goal Type:</label>
                <select id="GoalType" class="form-select" asp-for="GoalType">
                    <option value="0">Weight Loss</option>
                    <option value="1">Weight Gain</option>
                    <option value="2">Muscle Gain</option>
                    <option value="3">Endurance</option>
                    <option value="4">Other</option>
                </select>
                <span asp-validation-for="GoalType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Description">Description:</label>
                <input type="text" class="form-control" id="Description" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="TargetWeight">Target Weight:</label>
                <input type="number" class="form-control" id="TargetWeight" asp-for="TargetWeight">
                <span asp-validation-for="TargetWeight" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label for="TargetDate">Target Date:</label>
                <input type="date" class="form-control" id="TargetDate" asp-for="TargetDate" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                <span asp-validation-for="TargetDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input class="btn btn-primary btn-block" type="submit" value="Add" asp-action="Create" />
                <input class="btn btn-secondary btn-block" type="button" value="Back" onclick="goBack()" />
            </div>
        </form>
    </div>
</div>